* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



#logo{
    width:150px;
    height: 95px;
}

header,.title{
    background-color: rgb(122, 11, 11);
}

.nav-links{
    text-align:right;


    
}
.nav-button{
    background-color: orange;
    color:white;
    font-weight: bold;
}
.title {
    font-weight: bold;
    color:rgb(255, 31, 31);
}

.page-title{
    text-align: center;
    

}

