* {
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-color: orangered;
}

#logo{
    width:100px;
    height: auto;
}

nav {
    background-color: rgb(12, 12, 12);
}
.title {
    font-weight: bold;
    background-color: rgb(235, 152, 0);
    color:white;
    
}

.page-title{
    text-align: center;
    

}

