* {
    font-family: Arial, Helvetica, sans-serif;
}



#logo{
    width:150px;
    height: 95px;
}

header {
    background-color: rgb(122, 11, 11);
}

.nav-links{
    text-align:right;


    
}
.nav-button{
    background-color: orange;
    color:white;
    font-weight: bold;
}
.title {
    font-weight: bold;
    background-color: rgb(235, 152, 0);
    color:white;
    
}

.page-title{
    text-align: center;
    

}

